@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Custom font faces */
@font-face {
  font-family: 'PlantinMTProRegular';
  src: url('/fonts/PlantinMTProRg.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PlantinMTProItalic';
  src: url('/fonts/PlantinMTProRgIt.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'PlantinMTProLight';
  src: url('/fonts/PlantinMTProLight.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PlantinMTProLightItalic';
  src: url('/fonts/PlantinMTProLightIt.TTF') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'PlantinMTProSemiBold';
  src: url('/fonts/PlantinMTProSmBd.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PlantinMTProSemiBoldItalic';
  src: url('/fonts/PlantinMTProSemiBdIt.TTF') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'PlantinMTProBold';
  src: url('/fonts/PlantinMTProBold.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PlantinMTProBoldItalic';
  src: url('/fonts/PlantinMTProBoldIt.TTF') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'PlantinMTProCondensedBold';
  src: url('/fonts/PlantinMTProCnBd.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SansAtwicModernSemiBold';
  src: url('/fonts/SansAtwicModernSemiBold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SansAtwicModernReg';
  src: url('/fonts/SansAtwicModernReg.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'SansAtwicModernReg', sans-serif;
  min-height: 100vh;
  letter-spacing: -0.05em;
}

@keyframes sparkle {
  0% { transform: scale(0); opacity: 0; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}

@keyframes shine {
  0% { transform: translateX(-100%) rotate(45deg); }
  100% { transform: translateX(100%) rotate(45deg); }
}

@keyframes moveShine {
  0% { background-position: 0% 0%; }
  100% { background-position: 200% 200%; }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

@layer utilities {
  .animate-moveShine {
    animation: moveShine 6s linear infinite;
  }
}
