.neonText{
    text-shadow: 1px 0px 4px #f3f3f3, 2px 0px 4px #e7e2ee, 3px 0px 4px #a4a4fa, 2px 0px 3px #8c6af2, 2px 3px 15px #622ef1, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #521df0,40px 0vw 200px #2005f0;
}

.neonBorder {
    position: relative;
    border: 0.5px solid transparent;
    border-radius: 0.5rem;
    z-index: 1;
}
  
.neonBorder::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border-radius: inherit;
    border: white;
    border: solid;
    background: linear-gradient(90deg, #13037f, #4000ff);
    filter: brightness(1.5);
}
  

.flicker-slow{
    animation: flicker 3s linear infinite;
}

.flicker-medium{
    animation: flicker 2s linear infinite;
}

.flicker-fast{
    animation: flicker 1s linear infinite;
}
@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: .99;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
}
